.liked {
  margin-bottom: 2rem;
}

.liked-title {
  text-align: center;
  color: #00ff88;
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 700;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-size: 1.5rem;
  gap: 1.5rem;
}

.empty-state p {
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;
  width: 100%;
}

.card-icons {
  display: flex;
  gap: 10px;
}

.card-icons img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

@media (max-width: 900px) {
  .liked-title {
    font-size: 1.8rem;
  }
  .products-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
  }
}

@media (max-width: 600px) {
  .liked-title {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .card-icons img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 400px) {
  .buy-btn {
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
  }

   .products-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
