.stats {
  padding: 60px 20px;
  background: #000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
  color: #fff;
}

.stat-card {
  background: linear-gradient(145deg, #0ff, var(--color-green));
  padding: 25px 15px;
  border-radius: 22px;
  box-shadow: 0 0 25px rgba(0,255,255,.5);
  transition: transform .3s ease, box-shadow .3s ease;
}

.stat-card:hover {
  transform: translateY(-8px) rotate(-2deg) scale(1.05);
  box-shadow: 0 0 35px rgba(0,255,255,.8);
}

.stat-card p {
    color: #000;
}

.stat-card span {
  display: block;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-shadow: 0 0 8px var(--color-green), 0 0 16px #08f;
  margin-bottom: 12px;
}

.stat-card p {
  font-size: 1rem;
  font-weight: 500;
  opacity: .85;
}

@media (max-width: 900px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .stats {
    grid-template-columns: 1fr;
  }
}
